<div class="page-content">
    <h1>Getting Started</h1>
    <div>
        Angel provides a wealth of functionality out of the box,
        which makes development faster. To expedite it even more,
        install the <a href="https://github.com/angel-dart/cli">Angel CLI</a>.
        <br>
        <code class="bash">$ pub global activate angel_cli</code>
        <br>
        You can bootstrap a complete application with one simple command:
        <br>
        <code class="bash">$ angel init</code>
        <br>
        <code class="bash">
# Two ways to boot your application:

# 1. Support for start scripts and additional pre-boot options:
$ angel start

# 2. Faster startup, but not configurable:
$ dart bin/server.dart
        </code>
        <br>
        And that's it! Check out the
        <a href="https://github.com/angel-dart/angel/wiki">Wiki</a>
        for more in-depth documentation.
    </div>
</div>