<div class="page-content centered">
    <div class="image-container">
        <img src="images/logo.png">
    </div>
    <h2>The Dart server framework that's ready for <b>showtime.</b></h2>
    <pre>    
        <code #code class="dart" style="margin: auto; max-width: 28em;">
main() {
  var app = new Angel()
    ..get('/', (req, res) async {
      return 'Hello, world!';
    });
}
        </code>
    </pre>
    <br>
    <material-button [routerLink]="['/Get-Started']" raised>Get Started</material-button>
</div>