code.hljs
    text-align: left !important
    border-radius 1rem
    font-family Menlo, Monaco, Courier, monospace
    font-size .9em
    font-weight 500
    letter-spacing .02em
    padding 1rem;

.hljs
    white-space pre