@import './styles/colors'
@import './code'

html, body
    background-color $light
    font-family Roboto, sans-serif;
    margin 0;
    
material-fab
    background-color $red !important
    color white
    position fixed !important
    bottom 1em
    right 1em

.centered
    text-align center

.image-container
    padding-left 1em
    padding-right 1em

.page-content
    color $dark
    padding 1em
    
    .vertical
        margin-bottom: 0
        margin-top: 0