@import './styles/colors'

html, body
    background-color: $light
    font-family: Roboto, sans-serif;
    margin: 0;

#page-content
    color: $dark
    
    .vertical
        margin-bottom: 0
        margin-top: 0
